@import-normalize;
@import "helpser";
* {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
*::before {
  box-sizing: border-box;
}
*::after {
  box-sizing: border-box;
}
ul,ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  font-family: $font-hei;
  font-size: 16px;
  line-height: 1.2;

}
* {
  -webkit-tap-highlight-color:transparent;
}
button {
  border: 0;
  background-color: transparent;
  outline: none;
}
input{
  background:none;
  outline:none;
  border:0;
}

.icon{
  height: 1em;
  width: 1em;
}
.height {
  height: 100vh;
}
.button {
  padding: 0 10px;
}
